<!DOCTYPE html>
{% extends 'rerig/base.html' %}
{% load staticfiles %}

<!-- Since this extends the base.html file we don't want to touch the title or navbar here as the base version will suffice for the index page -->

{% block body_block %}

    <!-- photo carousel to go here -->

    <div id="More-Posts-container">
        <!-- The viewMoreRigs function should redirect the search page-->
        <button id="more-rigs-button" onclick="viewMoreRigs()">More Rigs!</button>
    </div>

{% endblock %}
